body{
    background-color: rgb(236, 233, 233);
    font-family: "Montserrat" , sans-serif;
    margin: 0,2%,0,2%;
}

.center{
    text-align: center;

}

.LINHA11{
    border: 2px solid black;
    margin-left: 42%;
    margin-right: 42%;
}

.LINHA22{
    border: 2px solid black;
    margin-left: 43%;
    margin-right: 43%;
}

.font{
    font-size: 34px;
    margin-top: 10%;
}

p{ text-indent: 1.5rem;}

.size{
    font-size: 24px ;
    margin-top: 10%;
    font-weight: 600;
}

.w2{
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.caixa-1{
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin-right: 95rem;
}

.CAIXA{
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: rgb(10,181,248);
    text-align: center;
    font-size: 34px;
}